openapi: 3.1.0
info:
  title: Document360 Articles API
  description: The Document360 API provides programmatic access to manage knowledge base projects, articles, categories, drives, files, users, and teams. It enables integrating Document360 documentation workflows into CI/CD pipelines and external applications.
  version: 2.0.0
  contact:
    name: Document360
    url: https://document360.com/
servers:
- url: https://apihub.document360.io/v2
  description: Document360 API Hub
security:
- apiToken: []
tags:
- name: Articles
paths:
  /Articles:
    get:
      operationId: listArticles
      summary: List Articles
      description: Retrieves articles within a Document360 knowledge base project.
      tags:
      - Articles
      parameters:
      - name: projectVersionId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: A list of articles.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Article'
    post:
      operationId: createArticle
      summary: Create Article
      description: Creates a new article in the knowledge base.
      tags:
      - Articles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        '201':
          description: Article created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
  /Articles/{id}:
    get:
      operationId: getArticle
      summary: Get Article
      description: Retrieves a single article by its identifier.
      tags:
      - Articles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The requested article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
    put:
      operationId: updateArticle
      summary: Update Article
      description: Updates an existing article.
      tags:
      - Articles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Article'
      responses:
        '200':
          description: Article updated.
    delete:
      operationId: deleteArticle
      summary: Delete Article
      description: Deletes an article.
      tags:
      - Articles
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Article deleted.
components:
  schemas:
    Article:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        slug:
          type: string
        content:
          type: string
        contentMarkdown:
          type: string
        categoryId:
          type: string
        projectVersionId:
          type: string
        languageCode:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type: string
          format: date-time
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: api_token
